#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

ion-title{
  font-family:'Times New Roman', Times, serif;
  color:#ffffff;
}
.play{
  position: relative;
  top: 40px;
  text-align: center;
  height: 250px;
}

.play1{
  position: relative;
  top: 0px;
  text-align: center;
  height: 170px;
}

.play2{
  position: relative;
  top: 0px;
  text-align: center;
  //height: 30px;
  margin-top:30px;
}
ion-input {
  font-family:'Times New Roman', Times, serif;
}
.bouton{
  margin: 20px;
}
ion-button{
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family:'Times New Roman', Times, serif;
}
span{
  color: #ffffff;
  font-size: 13px;
}
.inscrit{
  position: relative;
  top: 15px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}